<!DOCTYPE html>

<html>
<header>
    <title>@ViewData["Title"] - Meu primeiro Site C#</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version = "true">
    <link rel="stylesheet" href="~/MyRazorApp.styles.css" asp-append-version = "true">
</header>

<body>
<div>
    <header>
        <partial name="Shared/_NavMenuPartial"/>
    </header>
    
    <main>
        @RenderBody()
    </main>
    
    <footer>
        Powered by Giovani CS
    </footer>
    
    @RenderSection(name:"scripts", required:false)

</div>
</body>
</html>