<!DOCTYPE html>

<html>
<header>
    <title>Meu primeiro Site C#</title>
</header>

<body>
<div>
    <header>
        <partial name="Shared/_NavMenuPartialDois"/>
    </header>
    
    <main>
        @RenderBody()
    </main>
    

</div>
</body>
</html>