@page
@model MyRazorApp.Pages.About
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <partial name="Shared/_NavMenuPartial"/>
    <h1>Sobre</h1>
</div>
</body>
</html>