@page
@model Index
@{
    ViewData["Title"] = "Bem vindo";
}

<!DOCTYPE html>

<html>
    <header>
        <title>Meu primeiro Site C#</title>
    </header>

    <body>
    <div>
        <h1>Home</h1>

    </div>
    </body>
</html>

