@page
@using System.Globalization
@using MyRazorApp.Pages
@model MyRazorApp.Pages.Index


<!DOCTYPE html>

<html>
    <header>
        <title></title>
    </header>

    <body>
        <div>
            @for(var i =0; i<= 10; i++){
                <p>Item @i</p>
            }
            
            <table>
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Title</td>
                    <td>Price</td>
                </tr>
                </thead>
            
                <tbody>
                @foreach(var category in Model.Categories)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Title</td>
                        <td>@category.Price.ToString("C",new CultureInfo("pt-BR"))</td>
                    </tr>
                }
                </tbody>
            </table>
            
        </div>
    </body>
</html>

