@page "~/entrar"
@model Login
@{
    ViewData["Title"] = "Entrar";
}


@{
    Layout = "Shared/_LayoutDois";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Login</h1>
</div>
</body>
</html>